 $background: #DFF1FF;

 $gray_font_color: #717D96;
 $nav_font_color: #6C96CA;
 $title_color: #EDF0F7;



 $accent_color: (
     accent_color1:#DFF1FF,
     accent_color2:#5491C0,
 );


 $primary_color: (
     primary_color1:#0000AA,
     primary_color2:#009A00,
     primary_color3:#FBBE01,
     primary_color4:#28C8C8,
     primary_color5:#FF6408,

 );

 $second_color: (
     second_color1:#8080D5,
     second_color2:#80CD80,
     second_color3:#FFB284,

 );
 $map_green_color: (
     map_green_color1:#80CD80,
     map_green_color2:#009A00,
     map_green_color3:#038703,
     map_green_color4:#007B00,

 );
 $map_blue_color: (
     map_blue_color1:#ADCEFF,
     map_blue_color2:#86B6FF,
     map_blue_color3:#5F90D9,
     map_blue_color4:#447BCF,
     map_blue_color5:#0459D9,
     map_blue_color6:#003AAA,

     )