@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&family=Rampart+One&display=swap');


//   font-family: 'Koulen', sans-serif;
//   font-family: 'Noto Sans TC', sans-serif;
//   font-family: 'Rampart One', sans-serif;



$h1 : 50px;
$h2 : 45px;
$h3 : 32px;
$h4 : 24px;
$body : 18px;
$label: 16px;
$label_title : 18px;
$label_body : 18px;
$btn-font : 18px;
$sm-font : 14px;




h1 {

    font-size: $h1;
    line-height: 30px;
    letter-spacing: 3%;
    font-weight: 800;
    font-family: 'Noto Sans TC', sans-serif;
}

h2 {

    font-size: $h2;
    line-height: 30px;
    font-weight: 800;
    font-family: 'Noto Sans TC', sans-serif;
}

h3 {

    font-size: $h3;
    font-weight: 500;
    line-height: 36px;
    font-family: 'Noto Sans TC', sans-serif;
}

h4 {

    font-size: $h4 ;
    font-weight: 500;
    line-height: 28px;
    font-family: 'Noto Sans TC', sans-serif;
}

.label_body {

    font-family: 'Noto Sans TC', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;

}

.label_footer {

    font-family: 'Noto Sans TC', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;

}

.enter_year {
    font-family: "Rampart One";
    font-size: 48px;
    color: $gray_font_color;
    text-align: center;

}

.button_check {


    width: 345px;
    height: 100px;
    background-color: #ffffff;
    color: map-get($accent_color, accent_color2);
    font-size: $h1;
    font-weight: 900;
    border-radius: 30px;
    border: 5px solid map-get($accent_color, accent_color2);
    box-shadow: 9px 8px 0px 0px #6c96ca94;
    cursor: pointer;


}

.button_check:hover {
    transition: transform 0.3s ease;
    transform: translate(7px, 7px);
    background-color: map-get($accent_color, accent_color2);
    color: #ffffff;
    border-color: #fff;
    box-shadow: none;

}

.nav_link_top,
.nav_link_bottom {

    width: 100%;
   
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 800;
    line-height: 30px;
    color: map-get($accent_color, accent_color2);

    border: 4px solid#850d0d;

}


.nav_link_bottom {
    text-align: right;

}